parameters:
    level: 8

    paths:
        - src/
        - tests/

    strictRules:
        # too strict
        disallowedEmpty: false
        disallowedLooseComparison: false

    ignoreErrors:
        -   identifier: trait.unused
        -
            identifier: method.childReturnType
            paths:
                - src/Monolog/Processor/PaddingProcessor.php
                - src/Monolog/Processor/PlainProcessor.php
        -
            identifier: property.onlyWritten
            paths:
                - tests/Tools/Reflection/UnavailableFieldsTraitTest.php
                - tests/Tools/Reflection/UnavailableMethodsTraitTest.php
        -
            identifier: method.unused
            paths:
                - tests/Tools/Reflection/UnavailableMethodsTraitTest.php

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon